body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;

}

a {
  text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

.main-logo {
	position: absolute;
	margin-top: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.main-menu {
	font-size: 14px;
	line-height: 26px;
	color: #ffffff;
	position: relative;
	background-color: #ffffff;
}

.navigation {
	list-style: none;
  	
}

.navigation-item {
  	display: inline-block;
}



/*ссылки в меню навигации*/
.navigation-item-link {
	text-decoration: none;
	color: #000;

}

.navigation-item-link:hover,
.navigation-item-link:focus {
	color: #81b3d2;
}

.navigation-item-link:active{
	color: rgba(0,0,0, 0.5);
}

.navigation-active-item .navigation-item-link{
	color: rgb(118,99,87);
}

/*main*/
.container{
	background-color: #fff;
	text-align: center;
	
}
/*фон для приемуществ*/
.reasons-list,
.features-list{
	list-style: none;
	font-size: 0;
	margin: 0;
	padding: 0;
	
}

.reasons-city {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.reasons-city-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;

}

.reasons-item {
	background-color: rgb(129,179,210);

	padding: 20px;
	
	font-size: 21px;
	line-height: 21px;
	/*text-align: center;*/
	font-weight: bold;
	font-weight: normal;
}

.reasons-list .last-reasons{
	background-color: rgb(238,238,238);
	padding: 20px;
		
	font-size: 21px;
	line-height: 21px;
	/*text-align: center;*/
	font-weight: bold;
	font-weight: normal;
}


/*списки преимуществ*/

.reasons-name{
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}
.reasons-number,
.reasons-text {
	font-size: 14px;
	line-height: 21px;

}

.features-item {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
}



/*.features-caption {*/
	/*font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
}*/

.features-text {
	font-size: 14px;
	line-height: 21px;
	
	font-weight: normal;
}

/*.about .reasons-text,
.reasons-name{
	text-align: center;
}*/

/*Поиск гостиницы в Седоне*/

.booking {
	text-align: center;
}

.booking-interesting {
	font-size: 30px;
	line-height: 36px;
}

.booking-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
}

.booking-form-btn {
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;

	background-color: rgb(118,99,87);
	color: rgb(255,255,255);

	border: none;
	width: 568px;
	height: 86px;
}

.booking-form-btn:hover {
	background-color: rgb(96,78,67);
}

.booking-form-btn:active {
	background-color: rgb(80,62,51);
	color: rgba(255,255,255, 0.5);
}

.calendar {
	border: none;
	padding: 5px;
	width: 21px;
	height: 22px;	
}

.people-btn {
	/*background-position: center;*/
	border: none;
	padding: 5px;
}

.hotels-search {
	text-align: center;
}

.find-btn {
	padding: 10px;
	margin: 10px;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
	color: rgb(255,255,255);

	background-color: rgb(129,179,210);
	width: 458px;
	/*height: 58px;*/
	border: none;
}

.find-btn:hover {
	background-color: rgb(102,158,192);
}

.find-btn:active {
	background-color: rgb(102,158,192);
	color: rgba(255,255,255, 0.5);
}

/*форма поиска*/

.hotels-search-form {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;

}

.date-input {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;

	border: none;
	width: 346px;
	/*height: 38px;*/
	background-color: rgb(242,242,242);
}

.adults {
	background-color: rgb(242,242,242);
	text-align: center;
	border: none;
	width: 38px;
	height: 38px;
}

.calendar {
	text-align: center;
	border: none;
	cursor: pointer;

	background-image: url("../img/calendar.svg");
}

.count-input {
	background-color: rgb(242,242,242);
	text-align: center;
	border: none;
	width: 38px;
	height: 38px;
}

.people-btn {

	border: none;
	width: 38px;
	height: 38px;
	
}

.count-minus {
	background-image: url("../img/minus.png");
	background-repeat: no-repeat;
	background-position: center;

}

.count-plus {
	background-image: url("../img/plus.png");
	background-repeat: no-repeat;
	background-position: center;
}

/*footer*/
/* flex footer*/
.main-footer {
	display: flex;
	min-height: 112px;
	max-width: 1200px;
	margin: auto;
/*	flex-direction: row;
	justify-content: center*/;
}

.footer-hashtag {
	/*display: flex;*/
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;

	margin: auto;
}

.footer-copyright {
	font-size: 14px;
	line-height: 26px;
	text-align: center;
}

.footer-social {
	margin: auto;
}
.social {
	display: flex;
}

.social-item li:not(:last-child) {
	margin-right: 5px;
}

.footer-copyright {
	margin: auto;
}

/*.copyrigth-wraper {
	margin: auto;
}*/

.website {
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
}

.footer-logo {
	display: inline-block;
	vertical-align: middle;
}

.social-item {
	list-style: none;
	margin: 10px;
	padding: 10px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.twitter,
.facebook,
.youtube {
	display: inline-block;
	width: 46px;
	height: 48px;
	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
	background-color: rgb(129,179,210);
	vertical-align: middle;
	background-position: center;
}

.facebook {
	background-image: url("../img/fb-icon.svg");
}

.youtube {
	background-image: url("../img/youtube.svg");
}


/*hotels*/
.hotels-filter {
	background-image: url("../img/filter background.png");
	background-repeat: no-repeat;
  	background-position: top center;
  	list-style: none;

}

.filter-form-group {
	border: none;
	font-size: 16px;
	line-height: 21px;

}

/*.filter-check legend {
	font-size: 16px;
	line-height: 21px;
}*/

.filter-price-item {
	font-size: 14px;
	line-height: 21px;
	
}

.filter-price {
	border: 1px solid #000000;
}

.filter-btn {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 4px;
	color: #fff;
	background-color: transparent;
	border: 2px solid white;
	width: 133px;
	/*height: 32px;*/

}

.comfort,
.hotels-type{
	list-style: none;
	position: 0;
	margin: 0;
}

.comfort-check {
	font-size: 14px;
	line-height: 26px;
}

.hotels-sorting-parameters {
	list-style: none;
}

.hotels-results h3 {
	font-size: 21px;
	line-height: 26px;
}

.hotels-results span {
	font-size: 12px;
	line-height: 18px;
}
.hotels-results .hotels-count {
	font-size: 21px;
	line-height: 26px;
}

/*сортировка*/
.hotels-results {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}


.hotels-sorting a {
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	border-bottom: 1px dotted;
	color: rgba(0,0,0, 0.5);
	list-style: none;
}

.hotels-sorting a:hover {
	color: #81b3d2;
}

.hotels-sorting a:active {
	color: #000;
}

.sorting-active a {
	color: #81b3d2;
}

.sort-up {
	display: inline-block;
	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;
	width: 11px;
	height: 10px;
	
}

.sort-down {
	display: inline-block;
	background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;
	width: 11px;
	height: 10px;

}

/*Список отелей*/

.hotels-list {
	list-style: none;
}

.hotel-name {
	text-decoration: none;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
}

.hotel-name:hover {
	color: rgb(129,179,210);
}

.hotel-name:active {
	color: rgba(0,0,0, 0.5);
}

.hotel-item p {
	font-size: 14px;
	line-height: 21px;
}

.hotel-more-info {
	padding: 4px;
	text-decoration: none;
	background-color: rgb(129,179,210);
	color: rgb(255,255,255);
}

.hotel-more-info:hover {
	background-color: rgb(102,158,192);
	color: rgb(255,255,255);
}

.hotel-more-info:active {
	background-color: rgb(84,150,189);
	color: rgba(255,255,255, 0.5);
}

.hotel-btn-booking {
	
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	background-color: rgb(118,99,87);
	color: rgb(255,255,255);
	border: none;
}

.hotel-btn-booking:hover {
	background-color: rgb(96,78,67);
}

.hotel-btn-booking:active {
	background-color: rgb(80,62,51);
	color: rgba(255,255,255, 0.5);
}

.rating {
	background-color: #f2f2f2;
}

.star-item {
	display: inline-block;
	background-image: url("../img/star.svg");
	background-repeat: no-repeat;
	color: rgb(129,179,210);
	width: 20px;
	height: 20px;
}

