body {
	margin: 0;
	padding: 0;
	list-style: none;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;

	background-color: rgb(242, 242, 242);
}

a {
  text-decoration: none;
}


.visually-hidden {
	position: absolute;
  	clip: rect(0 0 0 0);
  	width: 1px;
  	height: 1px;
  	margin: -1px;
}


.main-wraper {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5)
}


.main-menu {
	/*position: relative;*/
	font-size: 14px;
	line-height: 26px;
	color: #ffffff;
	padding: 15px 0px;
	background-color: #ffffff;
	/*min-height: 56px;*/
	/*display: flex;*/
	
}

.main-logo {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}


.navigation {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 0;
	margin: 0;

	max-width: 1200px;
	padding-left: 72px;
	padding-right: 72px;
	list-style: none;

}

.navigation-item {
  	
  	width: 240px;
	/*align-items: center;*/

}

.navigation-item:nth-of-type(1),
.navigation-item:nth-of-type(2) {
	text-align: left;
}

.navigation-item:nth-of-type(3),
.navigation-item:nth-of-type(4) {
	text-align: right;
}

.navigation-item:nth-of-type(2) {
	margin-right: 100px;
}
/*.navigation-item:nth-of-type(1) {
	margin-left: 20%;
}*/

/*ссылки в меню навигации*/
.navigation-item-link {
	text-decoration: none;
	color: #000;

}

.navigation-item-link:hover,
.navigation-item-link:focus {
	color: #81b3d2;
}

.navigation-item-link:active {
	color: rgba(0,0,0, 0.5);
}

.navigation-active-item .navigation-item-link{
	color: rgb(118,99,87);
}

/*main*/

.container {
	/*position: relative;*/

	background-color: #fff;
	text-align: center;
/*	margin: 0 auto;*/
}


/*картинка фона*/
.promo {
	position: relative;
	/*top:67;*/
	/*max-width: 1200px;*/
}

.promo img {
	display: block;
}

.promo:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	background-image: url(../img/background-image-bottom.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 57px;

}


/* Преимущества */
.reasons-city {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin: 25px;
}

.reasons-city-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	padding: 23px;
}

.reasons-list,
.features-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;
}


.reasons-item {
	box-sizing: border-box;
	width: 33.33%;
	/*padding: 50px 65px;*/

	background-color: rgb(129,179,210);

	font-size: 21px;
	line-height: 26px;
	text-align: center;
	font-weight: normal;
}

.reasons-img {
	width: 66.66%;
}

.reasons-img img {
	display: block;
}

.last-reasons {
	padding: 0px 70px 50px 70px;
	width: 33.33%;

	text-align: inherit;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	font-weight: normal;

	background-color: rgb(238,238,238);
}

.reasons-list li:nth-of-type(4) {
	padding: 0px 69px 50px 70px;
}

.last-reasons h3 {
	color: black;
}

.last-reasons p {
	color: black;
}


/*списки преимуществ*/

.reasons-name {
	margin-top: 50px;

	font-size: 21px;
	font-weight: bold;
	
	color: white;
}

.reasons-number,
.reasons-text {
	margin-top: 30px;
	font-size: 14px;
	
	color: white;
}

.features-item {
	box-sizing: border-box;
	width: 33.33%;
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	text-align: center;

	padding: 60px 72px 75px 72px;
	margin: 0;
	align-self: center;
}

.features-item:nth-of-type(2) {
	padding: 60px 52px 75px 52px;
}

.features-item:nth-of-type(3) {
	padding: 60px 52px 75px 72px;
}

.features-text {
	font-size: 14px;
	line-height: 21px;
	
	font-weight: normal;
}

.features-item:nth-of-type(1):before {
	display: inline-block;
	content: "";
	background-image: url("../img/apartments.svg");
	background-repeat: no-repeat;
	color: rgb(129,179,210);
	width: 75px;
	height: 72px;
}

.features-item:nth-of-type(2):before {
	display: inline-block;
	content: "";
	background-image: url("../img/burger.svg");
	background-repeat: no-repeat;
	color: rgb(129,179,210);
	width: 74px;
	height: 70px;

}

.features-item:nth-of-type(3):before {
	display: inline-block;
	content: "";
	background-image: url("../img/souvenire.svg");
	background-repeat: no-repeat;
	color: rgb(129,179,210);
	width: 64px;
	height: 76px;

}

/*Поиск гостиницы в Седоне*/

.booking {
	position: relative;
}

.booking-interesting {
	font-size: 30px;
	line-height: 36px;
	margin-top: 56px;
	margin-bottom: 35px;
}

.booking-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	margin-bottom: 56px;
}

.booking-form-btn {
	padding: 32px;
	width: 568px;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;

	background-color: rgb(118,99,87);
	color: rgb(255,255,255);
	cursor: pointer;
	border: none;
	
}

.booking-form-btn:hover {
	background-color: rgb(96,78,67);
}

.booking-form-btn:active {
	background-color: rgb(80,62,51);
	color: rgba(255,255,255, 0.5);
}


.calendar {
	position: absolute;
	right: 10px;
	top: 7px;

	padding: 5px;
	width: 21px;
	height: 22px;

	text-align: center;
	border: none;
	cursor: pointer;
	background-color: #f2f2f2;
	background-image: url("../img/calendar-static.svg");
	/*color: rgb(242,242,242);*/
	/*#a9a9a9*/
}
/* Цвет календаря */
.calendar:hover {
	background-image: url(../img/calendar.svg);
}

.calendar:active{
	background-image: url(../img/calendar-active.svg);
}


.hotels-search {
	position: absolute;

	transform: translateX(-50%);
	display: inline-block;
	padding: 54px;
	vertical-align: middle;

	background-color: rgb(255, 255, 255);
	
	/*animation: find 0.6s;*/
	/*border: 1px solid black;*/
}

.find-btn {
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
	color: rgb(255,255,255);

	background-color: rgb(129,179,210);
	padding: 20px;
	width: 458px;
	border: none;

	cursor: pointer;
}

.find-btn:hover {
	background-color: rgb(102,158,192);
}

.find-btn:active {
	background-color: rgb(102,158,192);
	color: rgba(255,255,255, 0.5);
}

/*форма поиска*/
.hotels-search-item {
	position: relative;

	display: flex;
	justify-content: space-between;
	
	margin-bottom: 30px;
	margin-top: 0;
}

.hotels-search-item label {
	align-self: center;
}

.hotels-search-form {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	padding: 0;

}

.date-input {
	box-sizing: border-box;
	width: 346px;
	margin-left: 17px;
	padding: 6px 0;
	padding-left: 20px;
	padding-right: 35px;

	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;

	background-color: rgb(242,242,242);
	border: none;
}

.hotels-search-item input:hover {
	background-color: #ebebeb;
}

.hotels-search-item input:focus {
	background-color: white;

}

.count-search-form button:nth-of-type(1) {
	margin-left: 40px;
}

.count-search-form button:nth-of-type(2) {
	margin-right: 40px;
}

.count-search-form button:nth-of-type(3) {
	margin-left:  40px;
}

.count-search-form {
	width: 458px;
	justify-content: space-between;
	margin-bottom: 55px;
	font-size: 0;
}

.count-search-form label {
	font-size: 14px;
	vertical-align: middle;
}

.count-input {
	padding: 11px 0px;
	width: 38px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	
	background-color: rgb(242,242,242);
	border: none;

}
.count-input:focus {
	padding: 11px 0px;
	width: 38px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;

	border: none;
}

.people-btn {
	/*margin: 0;*/
	padding: 19px 10px;
	border: none;
	width: 38px;
	vertical-align: middle;
	cursor: pointer;
	/*height: 38px;*/

}

.count-minus {
	background-image: url("../img/minus.png");
	background-color: rgb(242,242,242);

	background-repeat: no-repeat;
	background-position: center;
}

.count-minus:hover {
	background-image: url("../img/minus-black.png");
	background-color: rgb(242,242,242);

	background-repeat: no-repeat;
	background-position: center;
}

.count-minus:active {
	background-image: url("../img/minus-blue.png");
	background-color: rgb(242,242,242);

	background-repeat: no-repeat;
	background-position: center;
}

.count-plus {
	background-image: url("../img/plus.png");
	background-color: rgb(242,242,242);

	background-repeat: no-repeat;
	background-position: center;
}

.count-plus:hover {
	background-image: url("../img/plus-black.png");
	background-color: rgb(242,242,242);

	background-repeat: no-repeat;
	background-position: center;
}

.count-plus:active {
	background-image: url("../img/plus-blue.png");
	background-color: rgb(242,242,242);

	background-repeat: no-repeat;
	background-position: center;
}


/*footer*/
/* flex footer*/
.main-footer {
	display: flex;
	justify-content: space-between;
	min-height: 112px;
	/*max-width: 1200px;*/
	/*margin: auto;*/
	width: 100%;

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(255, 255, 255, 0.8);
}

.main-footer-hotels {
	display: flex;
	padding: 5px 0;
	justify-content: space-between;
	min-height: 112px;
	max-width: 1200px;
	/*margin: auto;*/
	width: 100%;
}

.footer-hashtag {
	/*display: flex;*/
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	align-self: center;

	/*margin-right: 256px;*/
	margin-left: 130px;
	/*margin: 0 auto;*/
}

.footer-copyright {
	font-size: 14px;
	line-height: 26px;
	text-align: center;
}

.footer-social {
	/*margin: 0 auto;*/
	align-self: center;
}

.social {
	padding: 0;
	/*margin: 0;*/
	display: flex;
	justify-content: space-between;
}

/*.social a:nth-of-type(2) {
	margin-right: 5px;
	margin-left: 5px;
}*/

.footer-copyright {
	/*margin: 0 auto;*/
	/*margin-left: 230px;*/
	margin-right: 100px;
	
	align-self: center;

}

/*.copyrigth-wraper {
	margin: auto;
}*/

.website {
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
}

.footer-logo {
	display: inline-block;
	vertical-align: middle;
	height: 41px;
}

.social-item {
	list-style: none;
	margin: 5px;
	/*text-align: center;*/
	/*display: inline-block;*/
	/*vertical-align: middle;*/
}

.twitter,
.facebook,
.youtube {
	display: inline-block;
	width: 46px;
	height: 48px;
	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
	background-color: rgb(129,179,210);
	vertical-align: middle;
	background-position: center;
}

.facebook {
	background-image: url("../img/fb-icon.svg");
}

.youtube {
	background-image: url("../img/youtube.svg");
}

/*hotels- filter*/

.hotels-filter {

	background-image: url("../img/filter background.png");
	background-repeat: no-repeat;
  	background-position: top center;
  	list-style: none;

}
.filter-form {
	display: flex;
	max-width: 1200px;
	flex-direction: row;
	margin-left: 72px;
	margin-right: 72px;
	align-items: center;

	list-style: none;
	
}

.filter-form-group {
	width: 20%;
	margin-top: 30px;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	border: none;
	font-size: 16px;
	text-align: left;

	color: #ffffff;

}

.filter-form-group:nth-of-type(1) {
	text-align: left;
	margin-right: 50px;


}
.filter-form-group:nth-of-type(2) {
	text-align: left;
	margin-right: 280px;
}
.filter-form-group:nth-of-type(3) {
	text-align: right;
}

.hotels-filter:last-child {
	text-align: right;
}


.filter-price {
	border: 1px solid #000000;
}

.filter-btn {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.filter-btn:hover {
	background-color: white;
	color: black;
}


/* Фильтр */
.check-name {
	cursor: pointer;
}

.check-item:not(checked) {
	position: absolute;
	opacity: 0;

}
.check-item:not(checked) + label {
	position: relative; 
	padding: 0 0 0 15px;
}

.check-item:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -5px;
	left: -20px;
	width: 27px;
	height: 27px; 
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.check-item:checked + label:before {
	content: '';
	position: absolute;
	top: -5px;
  	left: -18px;
	width: 27px;
  	height: 27px; 
	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.check-item:focus + label:before {
	box-shadow: 0 0 0 2px rgba(129, 179, 210, 0.5);
}

/*111111111*/


.checkbox-indicator {

}
/* Фильтр */
.comfort-item {
	position: relative;
	padding-left: 20px;
	margin-bottom: 23px;
}

.hotels-type-item {
	position: relative;
	padding-left: 20px;
	margin-bottom: 23px;
}

/* Сложный фильтр */
.price-of-day {
	margin-bottom: 9px;
	text-align: left;
	
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}

.filter-form-group:nth-of-type(3) {
	width: 330px;
	font-weight: normal;
	

}

.price-controls {
	position: relative;

	height: 36px;
	margin-bottom: 20px;

	font-size: 0;
	text-align: left;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: middle;

	
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 50px;
}

.price-controls input {
	width: 50px;
	margin: 0;


	color: inherit;
	font: inherit;

	
	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;


}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
 	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}


.comfort,
.hotels-type {
	padding: 0;
	margin: 0;
	list-style: none;
	padding-top: 25px;
	/*margin-top: 20px;*/
}



.comfort-item,
.hotels-type-item label {
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
}


.comfort-check {
	font-size: 14px;
	line-height: 26px;

}


.hotels-results h3 {
	font-size: 21px;
	line-height: 26px;
}

.hotels-results span {
	font-size: 12px;
	line-height: 18px;
}
.hotels-results .hotels-count {
	font-size: 21px;
	line-height: 26px;
}

/*сортировка*/
/*.hotels-results {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}
*/

.hotels-sorting a {
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	border-bottom: 1px dotted;
	color: rgba(0,0,0, 0.5);
	list-style: none;
}

.hotels-sorting a:hover {
	color: #81b3d2;
}

.hotels-sorting a:active {
	color: #000;
}

.sorting-active a {
	color: #81b3d2;
	font-weight: normal;
}

.sort-up {
	display: inline-block;
	width: 11px;
	height: 10px;
	margin-right: 5px;
	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;
	width: 11px;
	height: 10px;
	
}

.sort-down {
	display: inline-block;
	background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;
	width: 11px;
	height: 10px;

}

/*Список отелей*/

.hotels-list {
	padding: 0;
	margin: 0;
	list-style: none;
}


/*.hotels-list li:nth-of-type(1) {
	border-top: 1px solid gray;
}*/

.hotel-name {
	text-decoration: none;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
}

.hotel-name:hover {
	color: rgb(129,179,210);
}

.hotel-name:active {
	color: rgba(0,0,0, 0.5);
}


.hotel-more-info {
	display: inline-block;
	margin-top: 8px;
	padding: 4px 12px;
	/*vertical-align: middle;*/
	text-decoration: none;
	background-color: rgb(129,179,210);
	color: rgb(255,255,255);
}

.hotel-more-info:hover {
	background-color: rgb(102,158,192);
	color: rgb(255,255,255);
}

.hotel-more-info:active {
	background-color: rgb(84,150,189);
	color: rgba(255,255,255, 0.5);
}

.hotel-btn-booking {
	padding: 4px 8px;
	margin-top: 8px;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;

	background-color: rgb(118,99,87);
	color: rgb(255,255,255);
	border: none;
}

.hotel-btn-booking:hover {
	background-color: rgb(96,78,67);
}

.hotel-btn-booking:active {
	background-color: rgb(80,62,51);
	color: rgba(255,255,255, 0.5);
}


.star-item {
	display: inline-block;
	text-align: right;
	background-image: url("../img/star.svg");
	background-repeat: no-repeat;
	color: rgb(129,179,210);
	width: 20px;
	height: 20px;

}

/*отели*/

.hotel-filter-wraper {
	display: flex;
	justify-content: space-between;

	padding: 8px 75px;

	border: 1px solid #e5e5e5;
}

.hotel-sorting-wraper {
	display: flex;
	align-items: center;
	/*justify-content: center;*/

}

.hotel-sorting-wraper li {
	display: inline-block;
	/*align-items: center;*/
	padding-left: 30px;
}

.hotel-sorting-title {
	display: inline-block;

	padding-left: 48px;

}

.hotels-sorting-parameters {
	padding: 0;
	margin: 0;
	list-style: none;
}


.triangle-wraper {
	align-self: center;
}

.hotel-item {
	padding: 10px 0;
	display: flex;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
}


.hotel-item p {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}


.hotel-img {
	margin-left: 75px;

}

.hotel-item-wraper {
	display: flex;
	justify-content: space-between;
}

.hotel-content-wraper {
	margin-left: 30px;
	width: 40%;
	text-align: left;

}

.hotel-content-wraper h3 {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;

	margin: 0;
}
.hotel-type {
	display: inline-block;
	width: 100px;
}

.hotel-price {

}

.content-buttons-wraper {
	display: inline-block;
	align-self: center;
}

.rating {
	width: 110px;
	background-color: #f2f2f2;
	padding: 5px 0px;
	margin-top: 15px;
}

.rating-wraper {
	/*align-self: flex-end;*/
	margin-left: 360px;
}

.star-rating {
	/*display: inline-block;*/
	margin-bottom: 32px;
	text-align: right;
	
}

.hotel-item-wraper span {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

/* Анимация */

/*@keyframes find {
	  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
*/

/*@keyframes shake {
  0%,
  100% {
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-60%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-40%);
  }
}*/


/* Js class */

.find-hotels {
	position: fixed;
	display: block;

}

/*.modal-error {
  animation: shake 0.6s;
}
*/